<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card-content">
                <div class="card-contents">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="card-text">We are sorry but we can install only if your the owner of the property
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="card-text">If your requireing behalf of the property owner, pleas have them get in
                                touch us and we will be more than happy to help</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-success" routerLink="/home/dashboard">Go Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>