<div class="google-map"></div>

<div class="progress-bar-top">
    <div class="progress-bar-fill" [style.width]="(currentChildStepCount - 1) / (totalSteps - 1) * 100 + '%'"></div>
</div>
<div class="btns-next-prev" [ngClass]="step >= 3 ?'show':'hide'">
    <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Back" />
</div>
<div class="googlemap-selection" *ngIf="googleMapenabled">
</div>
<div class="container-fluid py-5" [ngClass]="step <= 3 ?'show':'hide'">
    <div class="row">
        <div class="col-md-12 col-md-offset-3 main-content">
            <div class="card-content">
                <div id="msform">
                    <div *ngFor="let data of steps; let i = index">
                        <div class="content-screen" *ngIf="step === i + 1">
                            <div class="header">
                                <!-- Display the question from the active child step -->
                                <h2 class="fs-title" *ngIf="data.childSteps && data.childSteps.length > 0">
                                    {{ data.childSteps[activeChildStep].question }}
                                </h2>
                                <p class="description" *ngIf="data.childSteps && data.childSteps.length > 0">
                                    {{ data.childSteps[activeChildStep].description }}
                                </p>
                            </div>

                            <!-- Display child steps if available -->
                            <div *ngIf="data.childSteps && data.childSteps.length > 0">
                                <div class="center-content">
                                    <div class="card-items">
                                        <div class="card-wrapper">
                                            <div *ngFor="let option of data.childSteps[activeChildStep].options; let j = index"
                                                (click)="next(i, j, option.type)">
                                                <img [src]="option.img" [alt]="option.type" class="svg-image">
                                                <p class="card-title">{{ option.type }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Form for step 2 -->
                            <div *ngIf="step === 2">
                                <div class="center-content">
                                    <form [formGroup]="annualConsumptionForm" (ngSubmit)="next(i)">
                                        <div class="row">
                                            <div
                                                class="col-md-12 pr-0 form-group d-flex justify-content-center input-field">
                                                <input type="search" class="form-control" [(ngModel)]="kWhValue"
                                                    (keydown.enter)="next(i)"
                                                    placeholder="{{data.childSteps[activeChildStep].placeholder}}"
                                                    formControlName="annualConsumption">

                                            </div>
                                            <div class=" ml-auto form-group">
                                                <div class="btns-next-prev">
                                                    <input (click)="next(i)" type="button" name="next"
                                                        class="next action-button" value="Next Step" />
                                                    <input (click)="next(i)" type="button" name="dontKnow"
                                                        class="action-button-red"
                                                        value="{{data.childSteps[activeChildStep].queries}}" />
                                                </div>
                                                <div class="btns-next-prev">
                                                    <input (click)="previous()" type="button" name="previous"
                                                        class="previous action-button-previous" value="Back" />
                                                </div>

                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>

                            <!-- Form for step 3 -->
                            <!-- Form for step 3 -->
                            <div *ngIf="step === 3">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="text-center">
                                                <img [src]="data.itemsList[activeChildStep].options[0].img"
                                                    [alt]="data.itemsList[activeChildStep].options[0].type"
                                                    class="location-pin-image">
                                            </div>
                                            <span class="text-center">{{ data.itemsList[activeChildStep].options[0].name
                                                }}</span>
                                            <p class="text-center">{{
                                                data.itemsList[activeChildStep].options[0].description }}</p>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="text-center">
                                                <img [src]="data.itemsList[activeChildStep].options[1].img"
                                                    [alt]="data.itemsList[activeChildStep].options[1].type"
                                                    class="location-pin-image">
                                            </div>
                                            <span class="text-center">{{ data.itemsList[activeChildStep].options[1].name
                                                }}</span>
                                            <p class="text-center">{{
                                                data.itemsList[activeChildStep].options[1].description }}</p>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="text-center">
                                                <img [src]="data.itemsList[activeChildStep].options[2].img"
                                                    [alt]="data.itemsList[activeChildStep].options[2].name"
                                                    class="location-pin-image">
                                            </div>
                                            <span class="text-center">{{ data.itemsList[activeChildStep].options[2].name
                                                }}</span>
                                            <p class="text-center">{{
                                                data.itemsList[activeChildStep].options[2].description }}</p>
                                            <!-- <button type="button" class="btn btn-primary btn-block"
                                                (click)="next(i, 2, data.childSteps[activeChildStep].options[2].type)">
                                                Next
                                            </button> -->
                                        </div>
                                    </div>
                                    <div class=" ml-auto form-group">
                                        <div class="btns-next-prev">
                                            <input (click)="getStarted(); next(i)" type="button" name="next"
                                                class="next action-button" value="Get Started" />
                                        </div>

                                    </div>
                                </div>
                            </div>



                            <!-- Previous and Next buttons for other steps -->
                            <div *ngIf="step !== 2 && step !== 3">

                                <div class="btns-next-prev">
                                    <input (click)="previous()" type="button" name="previous"
                                        class="previous action-button-previous" value="Back" />
                                </div>
                            </div>
                        </div>

                        <div *ngIf="step > steps.length">
                            <!-- Display a message or form completion confirmation -->
                            <h2 class="fs-title">Form Completed</h2>
                            <!-- You can customize the content for the final step here -->
                            <div>
                                <p>Thank you for completing the form!</p>
                            </div>
                        </div>
                    </div>

                    <!-- progressbar -->
                    <ul id="progressbar" class="row" [ngClass]="step <= 2 ?'show':'hide'">
                        <li class="col-md-12" [ngClass]="'active'">
                            Start
                        </li>
                        <li class="col-md-{{ 12 / steps.length }}"
                            [ngClass]="[(i < 3 ? 'show' : 'hide'), (step >= (i + 1) ? 'active' : 'inactive')]"
                            *ngFor="let data of steps; let i = index">
                            {{ data.title }}
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="step === 4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <app-googlemap></app-googlemap>
            </div>
        </div>
    </div>
</div>